table {
  width: 100%;
  background-color: #4a4e51;
  color: white;
  border-collapse: collapse; /* Ensures borders don't double */
}

.table-container {
  max-height: 400px; /* Adjust height as needed */
  overflow-y: auto; /* Enable vertical scrolling */
  position: relative; /* Required for sticky positioning */
}

/* Sticky header styles */
.custom-table th.mat-header-cell {
  position: sticky;
  top: 0;
  z-index: 10; /* Ensure header is on top of other content */
  background-color: #4a4e51; /* Keep header background consistent */
}

/* Custom scrollbar styles */
.table-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: #6b6b6b; /* Darker color on hover */
}

.table-container::-webkit-scrollbar-track {
  background: #1d2226; /* Color of the track */
}

.button-and-search-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the start and end of the container */
  flex-wrap: wrap; /* Allow items to wrap to the next line on smaller screens */
}

.card {
  margin-top: 20px;
}

.btn {
  margin-left: 10px;
  background-color: rgb(106, 143, 245);
  color: white;
  width: 8rem;
}

.btn:hover {
  background-color: rgb(85, 120, 220);
}

.btns {
  display: flex;
  gap: 5px; /* Adjust the gap value to control spacing between buttons */
}

.btns button {
  flex: 1; /* This ensures buttons take equal width within the container */
}

.matCol {
  color: white;
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items to the start and end of the container */
  flex-wrap: wrap;
  width: 250px;
  margin: 10px 20px 5px 10px; 
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td {
  width: 100%;
} 

th {
  width: 100%; /* Full width for smaller screens */
}

.custom-order-date {
  min-width: 130px;  /* Adjust the font size according to your preference */
  color: white;
}

.action-button {
  min-width: auto; /* You can adjust this value based on your preference */
}

/* Primary button style */
.mat-button[color="primary"],
.mat-raised-button[color="primary"] {
  background-color: #007bff; /* Adjust the color to your preference */
  color: #fff;
}

/* Base style for the badge */
.status-badge {
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize; /* Capitalizes the first letter */
  display: inline-block;
  min-width: 80px;
  text-align: center;
}

/* Styles for different status types */
.status-pending {
  background-color: orange;
}

.status-delivered {
  background-color: green;
}

.status-cancelled {
  background-color: red;
}

.status-in-progress {
  background-color: blue;
}
